// Style guide: colors

// Primary
$color-pacific-blue: #0099cc;
$color-rio-grande: #c4d600;
$color-oslo-gray: #888b8d;
$color-white: #FFF;
$color-black: #404040;
$color-blue: #3300CC;
$color-req-red: #D0021B;

// Grays
$color-tundora: #464646;
$color-silver: #bbb;
$color-alto: #ddd;
$color-gallery: #eee;
$color-alabaster: #f7f7f7;

// Supporting colors for messages
$color-green: #77b259;
$color-dark-green: #325e1c;
$color-light-green: #f3faef;
$color-red: #a51b00;
$color-orange: #e62600;
$color-pink: #fcf4f2;
$color-beige: #fdf8ed;
$color-brown: #734c00;
